{% extends 'base.html.twig' %}

{% block body %}
	<header id="page-header">
		<h1>FlipShark</h1>
		<nav id="main-nav">
			<ul>
				<li class="popup-container">
					<a href="{{ path('fos_user_profile_edit') }}" id="show-user-panel">{{ app.user.username }}&nbsp;<span class="glyphicon glyphicon-user"></span></a>
					<div id="user-panel" class="drop-panel">
						<nav class="drop-nav">
							<ul>
								<li>
									<a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a>
								</li>
								<li>
									<a href="{{ path('fos_user_change_password') }}">Change Password</a>
								</li>
							</ul>
						</nav>
					</div>
				</li>
				<li><a href="{{ path('fos_user_security_logout') }}">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
			</ul>
		</nav>
	</header>
    {% block content %}{% endblock %}
    <div id="modal"></div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/autobahn.min.js') }}"></script>
	<script src="{{ asset('js/game-play-popup.js') }}"></script>
	<script>
		$(function(){
			$("#show-user-panel").click(function(event){
				event.preventDefault();
				$("#user-panel").toggle();	
			})
		});
	</script>
	{{ render(controller(
        'AppBundle:Game:userUnviewedGames'
    )) }}
{% endblock %}