{% extends 'game/layout.html.twig' %}

{% block content %}
	<div id="game-header">
		<h1>{{game.name}}</h1>
	</div>
	<br class="float-fix">
	<section id="game-view">
		{% if game.players|length > 0 %}
				<table class="game-table game-view">
				<tr class="head">
					<th>Player</th>
					<th class="flip-type">Flip Type</th>
				</tr>
				{% for player in game.players %}
					<tr>
						<td>{{ player.user.username }}</td> 
						<td class="flip-type">{{ player.getFlipTypeAsString }}</td>
					</tr>
				{% endfor %}
				</table>
		{% endif %}
		<h2 id="progress-bar">Game in progress:</h2>
		<div id="animation">
			<p id="coin-heads">HEADS</p>
			<p id="coin-tails">TAILS</p>
		<div>
		<div id="winner-panel" style="display:none">
			<h2>Winner:</h2>
			{{ game.winner.user.username }} with {{ game.winner.flipTypeAsString }} 
		</div>
	</section>
	<section id="back">
		<p><a href="{{ path('game_home')}}" class="btn btn-default">Back to games</a></p>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
 	<script>
		$(document).ready(function(){
		   $("#coin-heads").show();
		   $("#coin-tails").hide();
		}); 
		
		var tid = setInterval(doCoinAnimation, 1000);
		var count = 0;
		var maxFlips = 10;
		function doCoinAnimation() {
			$("#coin-heads").toggle();
		   	$("#coin-tails").toggle();
		   	count++;
		   	if(count == maxFlips){
		   		endAnimationAndShowWinner();
		   	}
		}
		
		function endAnimationAndShowWinner(){
		  clearInterval(tid);
		  {% if(game.winner.flipType == constant('FLIP_TYPE_HEADS', game))%}
		  	$("#coin-heads").show();
		  	$("#coin-tails").hide();
		  {% else %}
		  	$("#coin-heads").hide();
		  	$("#coin-tails").show();
		  {% endif %}
		  $("#progress-bar").text('Game Finished');;
		  $("#winner-panel").show();
		}
	</script>
{% endblock %}


