{% extends 'game/layout.html.twig' %}

{% block content %}
	<div id="game-header">
		<h1>{{game.name}}</h1>
	</div>
	<br class="float-fix">
	<section id="game-view">
		{% if game.players|length > 0 %}
				<table class="game-table game-view">
				<tr class="head">
					<th>Player</th>
					<th class="flip-type">Flip Type</th>
				</tr>
				{% for player in game.players %}
					<tr>
						<td><img src="{{ asset('images/star_off.png') }}" class="star star-{{player.user.id}}" alt="" />&nbsp;{{ player.user.username }}</td> 
						<td class="flip-type">{{ player.getFlipTypeAsString }}</td>
					</tr>
				{% endfor %}
				</table>
		{% endif %}
		<h2 id="progress-bar">Game in progress:</h2>
		<div id="animation">
			<p id="coin-heads"><img src="{{ asset('images/heads.jpg') }}" alt="heads"></p>
			<p id="coin-tails"><img src="{{ asset('images/tails.jpg') }}" alt="tails"></p>
		<div>
		<div id="winner-panel" style="display:none">
			<img id="stars" class="responsive-image" src="{{ asset('images/stars.jpg') }}"  />
			<h2>Winner:</h2>
			{{ game.winner.user.username }} with {{ game.winner.flipTypeAsString }} 
		</div>
	</section>
	<section id="back">
		<p><a href="{{ path('game_home')}}" class="btn btn-default">Back to games</a></p>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/game-animation.js') }}"></script>
 	<script>
 		$(document).ready(function(){ 
	 		{% if game.winner.flipType == constant('FLIP_TYPE_HEADS', game) %};
				 var coinAnimation = new CoinAnimation(true, {{ game.winner.user.id }});
			{% else %}
				var coinAnimation = new CoinAnimation(false, {{ game.winner.user.id }});
			{% endif %}
			coinAnimation.init();
		});
	</script>
	{{ render(controller(
        'AppBundle:Game:userLiveGames'
    )) }}
{% endblock %}


