{% extends 'game/layout.html.twig' %}

{% block content %}
	<h1>{{game.name}}</h1>
	<p>Players:</p>
	{% if game.players %}
		{% for player in game.players %}
			{{ player.user.username }} {{ player.getFlipTypeAsString }}<br>
		{% endfor %}
	{% endif %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	{% if gameFinished %}
		<h2>The winner was {{ game.winner.user.username }} with {{ game.winner.flipTypeAsString }}</h2>
	{% else %}
		{% if not userInGame %}
			<p>Pick a flip type</p>
			{% if not game.isFlipTypeInUse(constant('FLIP_TYPE_HEADS', game)) %}
				{{ form(formHeads) }}
			{% endif %}
			{% if not game.isFlipTypeInUse(constant('FLIP_TYPE_TAILS', game)) %}
				{{ form(formTails) }}
			{% endif %}
		{% else %}
			{{ form(formRemove) }}
		{% endif %}
	{% endif %}
{% endblock %}

