{% extends 'game/layout.html.twig' %}

{% block content %}
	<div id="game-header">
		<h1 class="game-name">Game : {{game.name}}</h1>
	</div>
	<br class="float-fix">
	<section id="game-view">
		{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="flash-notice">
		        {{ flashMessage }}
		    </div>
		{% endfor %}
		{% if game.players|length > 0 %}
			<table class="game-table game-view">
			<tr class="head">
				<th>Player</th>
				<th class="flip-type">Flip Type</th>
			</tr>
			{% for player in game.players %}
				<tr>
					<td>{{ player.user.username }}</td> 
					<td class="flip-type">{{ player.getFlipTypeAsString }}</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
		{% if gameFinished %}
			<h2>The winner was {{ game.winner.user.username }} with {{ game.winner.flipTypeAsString }}</h2>
		{% else %}
			{% if not userInGame %}
				<p id="pick-text">Pick a flip type :</p>
				{% if not game.isFlipTypeInUse(constant('FLIP_TYPE_HEADS', game)) %}
					{{ form(formHeads) }}
				{% endif %}
				{% if not game.isFlipTypeInUse(constant('FLIP_TYPE_TAILS', game)) %}
					{{ form(formTails) }}
				{% endif %}
			{% else %}
				{{ form(formRemove) }}
			{% endif %}
		{% endif %}
	</section>
	<section id="back">
		<p><a href="{{ path('game_home')}}" class="btn btn-default">Back to games</a></p>
	</section>
{% endblock %}
{% block javascripts %}
 	 {{ parent() }}
	 <script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
	 <script>
	    var FINISHED_GAME = {{ constant('AppBundle\\Entity\\Game::STATE_FINISHED') }};
	 	var currentGame = {{ game.id }};
	 	var liveGames = [];
	 	{% for game in liveGames %}	
	 		liveGames.push({{game.id}});
	 	{% endfor %}
	 	
	    var conn = new ab.Session('ws://localhost:8080',
	        function() {
	            conn.subscribe('games', function(topic, data) {
	            	// our json is actually a json string, so make it a json object
	            	var game = jQuery.parseJSON(data);
	                showMyGame(game);
	                if(currentGame == game.id && game.state != FINISHED_GAME){
	                	refreshPage();
	                }else if(currentGame == game.id){
	                	refreshViewForFinishedGame(game)
	                }
	               
	            });
	        },
	        function() {
	            console.warn('WebSocket connection closed');
	        },
	        {'skipSubprotocolCheck': true}
	    );
	    
	    function showMyGame(game){
	    	if(game.state == FINISHED_GAME && $.inArray(game.id, liveGames) !== -1){
	    		window.open('/secure/game-play/' + game.id);
	    	}
	    }
	    
	    function refreshViewForFinishedGame(game){
	    	$('#pick-text').hide();
		    $('form[name="tailsFlip"]').hide();
		    $('form[name="headsFlip"]').hide();
		    $('form[name="removePlayer"]').hide();
		    var playersHtml = '<tr class="head"><th>Player</th><th class="flip-type">Flip Type</th></tr>';
		    for(var i = 0; i < game.players.length; i++) {
				var player = game.players[i];
				playersHtml += '<tr><td>' + player.username + '</td><td class="flip-type">' + player.flipTypeAsString + '</td></tr>';
			}
		    $('.game-table').html(playersHtml);
	    }
	    
	    function refreshPage(){
	    	window.location.reload();
	    } 
	</script>	
{% endblock %}





