{% extends 'default/layout.html.twig' %}

{% block content %}
	<section id="home-content">
		<div class="pagewrap">
	    	<div id="join-panel">
	    		<h1>The home of heads or tails</h1>
	    		<p>FlipShark is the new multiplayer coin flip game</p>
	    		<a href="{{ path('fos_user_registration_register') }}" class="join">Join Now</a>
	    		<div id="features">
	    			<div id="features-inner-wrapper">
		    			<div class="feature">
		    				<div class="circle">
		    					<img src="{{ asset('images/icons/multiplayer.png') }}" alt="multiplayer">
		    				</div>
		    				<h2>Multiplayer</h2>
		    				<p>Play against other real players</p>
		    			</div>
		    			<div class="feature">
		    				<div class="circle">
		    					<img src="{{ asset('images/icons/coins.png') }}" alt="coins">
		    				</div>
		    				<h2>Free Play</h2>
		    				<p>At the moment, FlipShark is a free only for fun game</p>
		    			</div>
		    			<div class="feature last">
		    				<div class="circle">
		    					<img src="{{ asset('images/icons/download.png') }}" alt="no downloads">
		    				</div>
		    				<h2>No Downloads</h2>
		    				<p>You don't need to download software to play</p>
		    			</div>
		    		</div>
		    		<br class="float-fix">
	    		</div>
	    	</div>
	    </div>
    </section>
    <section id="home-instructions">
    	<h1>How it works</h1><br><br>
		<div id="instructions">
		    <div class="instruction-cell">
		    	<img src="{{ asset('images/game.jpg') }}" alt="Pick a game">
		    	<div class="instruction-cell-text">
		    		<div class="num">1.</div><p>Pick one of the games on offer. You never play against bots; your opponent is always a real person. There are no algorithms on FlipShark that skew the odds in favour of the house. This means that your chances of winning are always fifty fifty.</p>     
		    	</div>
		    </div>
		    <div class="instruction-cell">
		    	<img src="{{ asset('images/flip_type.jpg') }}" alt="Pick a fliptype">
		    	<div class="instruction-cell-text">
			    	<div class="num">2.</div><p>If no one else has joined the game yet, you get to pick your flip type: heads or tails.
			    	If you're joining a game that already has a player, you selection is a bit more limited. If, for example, the other player has picked heads, you choice will be tails.</p>
		    	</div>
		    </div>
		    <div class="instruction-cell">
		    	<img src="{{ asset('images/fireworks.png') }}" alt="Win or loose">
		    	<div class="instruction-cell-text">
		    		<div class="num">3.</div><p>Watch the game animation and find out if you have won or not. If you didn't win, don't worry, there's always next time. You can track your progress on FlipShark by viewing your game history. </p>
		    	</div>
		    </div>
	    </div>
	   	<br class="float-fix">
    </section>
    <section id="home-about">
		<div class="pagewrap">
			<h1>About FlipShark</h1><br><br>
			<p>As far as we know, FlipShark is the only multiplayer coin toss game on the internet.</p>
	    </div>
    </section>
{% endblock %}
